{% extends 'wheeltunes_app/base.html' %}
{% load static %}

{% block body_block %}
    <h1>WHEELTUNES!</h1>

    <div id="watch-screen">
        <div id="faces">
            <h4>How are you feeling today?</h4>
            <form action="" id="mood-form" method="POST">
                {% csrf_token %}
                <button type="submit" name="happy" class="btn btn-primary" id="face-btn"><i id="emoji" class="bi bi-emoji-smile-fill"></i></button>
                <button type="submit" name="middle" class="btn btn-primary" id="face-btn"><i id="emoji" class="bi bi-emoji-neutral-fill"></i></button>
                <button type="submit" name="sad" class="btn btn-primary" id="face-btn"><i id="emoji" class="bi bi-emoji-frown-fill"></i></button>
            </form>
            
        </div>
    </div>

    <style scoped>
        #faces {
            margin: auto;
            padding: 70px 0;
            border: 3px solid green;
            text-align: center;
            width: 70%;
        }

        #face-btn {
            height: 125px;
            width: 200px;
            border-radius: 20px;
            margin-left: 5%;
            margin-right: 5%;
        }

        #emoji {
            margin: auto;
            text-align: center;
            font-size: 70px;
        }
    </style>
{% endblock %}

