{% extends 'wheeltunes_app/base.html' %}
{% load static %}

{% block body_block %}

    <div id="watch-screen">
        <h4>How are you feeling today?</h4>
        <form action="" id="mood-form" method="POST">
            {% csrf_token %}
            <button type="submit" name="happy" id="emoji" class="bi bi-emoji-smile-fill" ></button>
            <button type="submit" name="middle" id="emoji" class="bi bi-emoji-neutral-fill" ></button>
            <button type="submit" name="sad" id="emoji" class="bi bi-emoji-frown-fill"></button>
        </form>
    </div>

    <style>
    /* check in the base.html */

        #emoji {
            color:white;
            background-color: black;
            margin: 0px;
            padding: 0px;
            text-align: center;
            font-size: 40px;
        }

    </style>
{% endblock %}

