{% extends 'wheeltunes_app/base.html' %}
{% load static %}

{% block body_block %}
    <h1>WHEELTUNES!</h1>

    <h2>Upload a song</h2>
    <p>Once we have a bunch of songs in the database we won't need this, it won't be in the final thing</p>
    <form id="song_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Submit" />
    </form>

    {% if songs %}
        <h2>Songs</h2>
        {% for song in songs %}
        <label> {{ song }} with energy {{ song.energy }}</label>
        <audio controls>
            <source src={{ MEDIA_URL }}{{ song.file }} type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio><br><br>
        {% endfor %}
    {% endif %}
{% endblock %}