{% extends "wheeltunes_app/base.html" %}
{% block body_block %}

<h1>Determine Songs via (mocked) sensor input</h1>

<div class="container">
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="customRange2" class="form-label">Speed (0-40mph)</label>
                <input type="range" class="form-range" min="0" max="40" id="customRange2" name="speed">
            </div>

            <div class="col">
                <label for="customRange2" class="form-label">Heart Rate (40-150bpm)</label>
                <input type="range" class="form-range" min="40" max="150" id="customRange2" name="heart-rate">
            </div>

            <div class="col">
                <label for="customRange2" class="form-label">Background Noise (0-80db)</label>
                <input type="range" class="form-range" min="0" max="80" id="customRange2" name="background-noise">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}